
body {
    background-color: #eee;
}


.footer {
    background-color: #333;
    color: #eee;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.main-post {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    border: solid #d8d8d8d8;
}

.main-post h3 {
    margin: 0 0 20px;
    font-weight: bold;
    color: #777;
    letter-spacing: -1px;
}
.main-post img {
    margin: 10px 0 10px;
display: block;
}